html {
  box-sizing: border-box;

}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

a, button {
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
}
