html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

a, button {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

@media (min-width: 320px) {
  .navigation {
    background: linear-gradient(90deg, #d52047 0%, rgba(238, 61, 27, 0.5) 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 60px;
    z-index: 2;
  }
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .navigation {
    position: absolute;
    background: none;
    margin-top: 40px;
  }
}
@media (min-width: 1440px) {
  .navigation {
    margin-top: 43px;
  }
}
@media (min-width: 992px) {
  .navigation.active {
    position: fixed;
    justify-content: space-evenly;
    width: 1440px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    background: linear-gradient(90deg, #d52047 0%, rgba(238, 61, 27, 0.5) 100%);
  }
}
@media (min-width: 1440px) {
  .navigation.active {
    justify-content: space-around;
  }
}
@media (min-width: 320px) {
  .navigation__logo {
    display: flex;
    align-items: center;
    width: 200px;
    position: relative;
    top: 16px;
    left: 15px;
  }
}
@media (min-width: 768px) {
  .navigation__logo {
    position: unset;
    width: 25%;
  }
}
@media (min-width: 992px) {
  .navigation__logo {
    width: 220px;
  }
}
@media (min-width: 1440px) {
  .navigation__logo {
    margin-left: -32px;
  }
}
@media (min-width: 320px) {
  .navigation__brand {
    align-self: center;
    margin-left: 5px;
    color: white;
    margin-top: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) {
  .navigation__brand {
    margin-left: 7px;
  }
}
@media (min-width: 320px) {
  .navigation__burger {
    position: fixed;
    top: 18.5px;
    right: 10%;
    width: 40px;
    height: 26px;
    transition: 0.2s;
  }
}
@media (min-width: 768px) {
  .navigation__burger {
    display: none;
  }
}
@media (min-width: 320px) {
  .navigation__burger.active {
    transform: rotate(-90deg);
  }
}
@media (min-width: 320px) {
  .navigation__burger span {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff;
    left: 0;
    transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s, transform 0.2s 0.4s;
  }
  .navigation__burger span:nth-child(1) {
    top: 0;
  }
  .navigation__burger span:nth-child(2) {
    top: calc(50% - 3px);
  }
  .navigation__burger span:nth-child(3) {
    bottom: 0;
  }
}
@media (min-width: 320px) {
  .navigation__burger.active span:nth-child(1) {
    top: calc(50% - 3px);
    transform: rotate(45deg);
  }
  .navigation__burger.active span:nth-child(2) {
    opacity: 0;
  }
  .navigation__burger.active span:nth-child(3) {
    bottom: calc(50% - 3px);
    transform: rotate(-45deg);
  }
}
@media (min-width: 320px) {
  .navigation__list {
    display: none;
    width: 85%;
    margin: 50px auto 15px;
  }
}
@media (min-width: 768px) {
  .navigation__list {
    width: unset;
    margin: 0;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .navigation__list {
    margin-right: -48px;
    margin-left: 48px;
  }
}
@media (min-width: 320px) {
  .navigation__list.active {
    display: block;
  }
}
@media (min-width: 320px) {
  .navigation__list li {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    padding-left: 15px;
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@media (min-width: 768px) {
  .navigation__list li {
    display: unset;
    padding: 0;
    border-bottom: none;
    margin-right: 15px;
  }
}
@media (min-width: 320px) {
  .navigation__list li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
  }
}
@media (min-width: 768px) {
  .navigation__list li a {
    letter-spacing: 0.5px;
    display: unset;
  }
}

@media (min-width: 320px) {
  .main {
    position: relative;
  }
}
@media (min-width: 320px) {
  .main__background {
    position: relative;
    height: 82vh;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  }
  .main__background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82vh;
    object-fit: cover;
    z-index: -1;
  }
}
@media (min-width: 320px) {
  .main__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}
@media (min-width: 320px) {
  .main__info-title {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
@media (min-width: 768px) {
  .main__info-title {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .main__info-title {
    font-size: 72px;
  }
}
@media (min-width: 320px) {
  .main__info-description {
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 0 25px;
    font-weight: 600;
    line-height: 36px;
  }
}
@media (min-width: 768px) {
  .main__info-description {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .main__info-description {
    width: 550px;
  }
}
@media (min-width: 320px) {
  .main__info-button {
    width: 160px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 6px;
    color: #ED4C5C;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 55px;
  }
}

@media (min-width: 320px) {
  .features {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 215px;
  }
}
@media (min-width: 768px) {
  .features {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .features {
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .features {
    justify-content: center;
  }
}
@media (min-width: 320px) {
  .features__title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    padding: 70px 0;
  }
}
@media (min-width: 320px) {
  .features__article {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
  }
  .features__article:nth-of-type(2) {
    padding: 150px 0;
  }
  .features__article img {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .features__article {
    width: 50%;
  }
  .features__article:nth-of-type(2) {
    padding: 0;
  }
  .features__article:nth-of-type(3) {
    margin-top: 150px;
  }
}
@media (min-width: 992px) {
  .features__article {
    width: 30%;
  }
  .features__article:nth-of-type(3) {
    margin-top: 0;
  }
  .features__article > img {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .features__article {
    width: 26%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .features__article > img {
    margin: 0;
  }
}
@media (min-width: 320px) {
  .features__article .features__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    text-align: center;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 40px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
}
@media (min-width: 992px) {
  .features__article .features__info {
    width: 90%;
    height: 240px;
  }
}
@media (min-width: 1440px) {
  .features__article .features__info {
    padding: 20px 35px;
    height: 220px;
  }
}
@media (min-width: 320px) {
  .features__article .features__info-title {
    font-size: 18px;
    color: #101010;
    margin: 15px 0;
  }
}
@media (min-width: 320px) {
  .features__article .features__info .features__desc {
    font-size: 12px;
    margin: 15px 0 25px;
  }
}
@media (min-width: 320px) {
  .features__article .features__info .features__link {
    color: #ED4C5C;
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
  }
}

@media (min-width: 320px) {
  .technology {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  .technology {
    flex-direction: row;
  }
}
@media (min-width: 320px) {
  .technology__main-title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    padding: 70px 0;
  }
}
@media (min-width: 320px) {
  .technology__tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 20%;
    text-align: center;
    align-content: center;
    margin: 25px 0;
  }
}
@media (min-width: 1440px) {
  .technology__tile {
    margin-top: 0;
  }
}
@media (min-width: 320px) {
  .technology__counter {
    color: rgba(16, 16, 16, 0.08);
    font-size: 100px;
    font-weight: bold;
  }
}
@media (min-width: 320px) {
  .technology__icon {
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 320px) {
  .technology__title {
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
  }
}
@media (min-width: 320px) {
  .technology__desc {
    width: 190px;
    font-size: 12px;
  }
}

@media (min-width: 320px) {
  .cta__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: #ED4C5C;
    padding: 110px 0;
  }
}
@media (min-width: 768px) {
  .cta__container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 1440px) {
  .cta__container {
    justify-content: center;
  }
}
@media (min-width: 320px) {
  .cta__container .cta__section {
    position: relative;
  }
}
@media (min-width: 320px) {
  .cta__container .cta__section:nth-of-type(1) {
    width: 100%;
    text-align: center;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .cta__container .cta__section:nth-of-type(1) {
    width: 45%;
  }
}
@media (min-width: 992px) {
  .cta__container .cta__section:nth-of-type(1) {
    width: 40%;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .cta__container .cta__section:nth-of-type(1) {
    width: 33%;
    text-align: left;
  }
}
@media (min-width: 320px) {
  .cta__container .cta__section:nth-of-type(2) {
    width: 80%;
    margin-top: 50px;
    position: relative;
  }
}
@media (min-width: 768px) {
  .cta__container .cta__section:nth-of-type(2) {
    width: 45%;
  }
}
@media (min-width: 320px) {
  .cta__container .cta__section .cta__title {
    color: #fff;
    font-weight: 600;
    font-size: 36px;
  }
}
@media (min-width: 320px) {
  .cta__container .cta__section .cta__desc {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 50px 0;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .cta__container .cta__section .cta__desc {
    text-align: justify;
  }
}
@media (min-width: 320px) {
  .cta__container .cta__section .cta__icons {
    width: 100%;
    justify-content: center;
    display: flex;
    height: 32px;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .cta__container .cta__section .cta__icons {
    justify-content: flex-start;
  }
}
@media (min-width: 320px) {
  .cta__container .cta__section .cta__icons img:nth-of-type(2) {
    margin: 0 25px;
  }
}
@media (min-width: 320px) {
  .cta__container .cta__section .cta__main-image {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
  }
  .cta__container .cta__section .cta__main-image::before, .cta__container .cta__section .cta__main-image::after {
    content: "";
    display: block;
    background: url("../images/cta-bg.png") no-repeat, #C4C4C4;
    width: 50px;
    height: 90%;
    position: absolute;
    opacity: 0.5;
    top: 50%;
    right: -45px;
    transform: translateY(-50%);
    border-radius: 15px;
  }
  .cta__container .cta__section .cta__main-image::before {
    right: -20px;
  }
  .cta__container .cta__section .cta__main-image::after {
    background: url("../images/cta-bg-1.png") no-repeat, #C4C4C4;
    right: unset;
    left: -25px;
  }
}
@media (min-width: 768px) {
  .cta__container .cta__section .cta__main-image {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .cta__container .cta__section .cta__main-image {
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
  }
  .cta__container .cta__section .cta__main-image::before, .cta__container .cta__section .cta__main-image::after {
    width: 383px;
    height: 267px;
    right: -45px;
  }
  .cta__container .cta__section .cta__main-image::after {
    left: -45px;
  }
}
@media (min-width: 1200px) {
  .cta__container .cta__section .cta__main-image {
    width: 80%;
    left: 10%;
    top: -160px;
  }
}
@media (min-width: 1440px) {
  .cta__container .cta__section .cta__main-image {
    width: 70%;
    left: 17%;
    top: -180px;
  }
}
@media (min-width: 320px) {
  .cta__container .cta__section .cta__main-image img {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    width: 100%;
  }
}

@media (min-width: 320px) {
  .icon-phone {
    display: block;
    right: 30px;
    position: fixed;
    left: 20px;
    bottom: 30px;
    width: 55px;
    height: 55px;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(213, 32, 71, 0.8);
    z-index: 1;
  }
  .icon-phone::before, .icon-phone::after {
    content: "";
    display: block;
    position: absolute;
    border: 30px solid rgba(213, 32, 71, 0.8);
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: pulse 5s linear infinite;
    opacity: 0;
    box-shadow: 0 0 5px 2px white, 0 0 5px 4px rgba(213, 32, 71, 0.8);
  }
  .icon-phone::after {
    animation-delay: 0.5s;
  }
  .icon-phone .android-icon-phone {
    z-index: 1;
    display: block;
    position: absolute;
    width: 50%;
    height: auto;
    border-radius: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 992px) {
  .icon-phone {
    display: none;
  }
}

@keyframes pulse {
  75% {
    transform: scale(0.5);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@media (min-width: 320px) {
  .footer__form {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .footer__form {
    width: 42.5%;
  }
}
@media (min-width: 320px) {
  .footer__form form {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 320px) {
  .footer__form form .footer__block:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 320px) {
  .footer__form form .footer__block:nth-of-type(1) .footer__form-name {
    width: 48%;
  }
}
@media (min-width: 320px) {
  .footer__form form .footer__block input,
.footer__form form .footer__block select {
    width: 100%;
    height: 60px;
    padding: 0 25px;
    border: 1px solid #333333;
    border-radius: 6px;
    color: rgba(19, 39, 67, 0.7);
    margin: 15px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.footer__form form .footer__block .form-error-text {
  color: #D52047;
  font-size: 15px;
  padding-left: 5px;
}
.footer__form form .footer__block .field-error {
  border-color: #D52047;
}
@media (min-width: 320px) {
  .footer__form form .footer__block .footer__select {
    position: relative;
  }
}
@media (min-width: 320px) {
  .footer__form form .footer__block .footer__select::after {
    content: "";
    display: block;
    background: url("../images/icons/chev-down.svg") no-repeat;
    width: 14px;
    height: 14px;
    color: rgba(19, 39, 67, 0.5);
    position: absolute;
    top: 45px;
    right: 25px;
  }
}
@media (min-width: 320px) {
  .footer__form form .correct-message {
    color: green;
  }
}
@media (min-width: 320px) {
  .footer__form form button[type=submit] {
    width: 160px;
    height: 50px;
    background-color: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
  }
}

@media (min-width: 320px) {
  .footer {
    background-color: #fff;
  }
}
@media (min-width: 992px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 320px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 15px;
  }
}
@media (min-width: 992px) {
  .footer__container {
    flex-direction: row;
    width: 90%;
  }
}
@media (min-width: 320px) {
  .footer__container .footer__info {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .footer__container .footer__info {
    width: 42.5%;
  }
}
@media (min-width: 320px) {
  .footer__container .footer__info .footer__title {
    font-weight: 600;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .footer__container .footer__info .footer__title {
    margin-top: 25px;
  }
}
@media (min-width: 320px) {
  .footer__container .footer__info .footer__desc {
    margin: 30px 0;
    font-weight: 400;
    font-size: 14px;
    width: 80%;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .footer__container .footer__info .footer__desc {
    margin: 50px 0;
  }
}

/*# sourceMappingURL=app.css.map */
