@import "variables";

@mixin for_breakpoint($breakpoints) {
  $conditions: ();
  @each $breakpoint in $breakpoints {
    $conditions: append(
                    $conditions,
                    #{inspect(map-get($media_queries, $breakpoint))},
                    comma
    );
  }

  @media #{$conditions} {
    @content;
  }

}
