$white: #fff;
$black: #000;
$orange: #EE3D1B;
$red: #D52047;

$media_queries: (
        small: (min-width: 320px),
        medium: (min-width: 768px),
        large: (min-width: 992px),
        xl: (min-width: 1200px),
        xxl: (min-width: 1440px)
);
