@import "../utils/mixins";

.cta {
  &__container {
    @include for_breakpoint(small) {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      background-color: #ED4C5C;
      padding: 110px 0;
    }
    @include for_breakpoint(medium) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    @include for_breakpoint(xxl) {
      justify-content: center;
    }

    .cta__section {
      @include for_breakpoint(small) {
        position: relative;
      }

      &:nth-of-type(1) {
        @include for_breakpoint(small) {
          width: 100%;
          text-align: center;
          padding: 0 15px;
          display: flex;
          flex-direction: column;
        }
        @include for_breakpoint(medium) {
          width: 45%;

        }
        @include for_breakpoint(large) {
          width: 40%;
          text-align: left;

        }
        @include for_breakpoint(xxl) {
          width: 33%;
          text-align: left;

        }
      }

      &:nth-of-type(2) {
        @include for_breakpoint(small) {
          width: 80%;
          margin-top: 50px;
          position: relative;
        }
        @include for_breakpoint(medium) {
          width: 45%;

        }
      }

      .cta__title {
        @include for_breakpoint(small) {
          color: #fff;
          font-weight: 600;
          font-size: 36px;
        }
      }

      .cta__desc {
        @include for_breakpoint(small) {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          margin: 50px 0;
          line-height: 20px;
        }
        @include for_breakpoint(medium) {
          text-align: justify;
        }
      }

      .cta__icons {
        @include for_breakpoint(small) {
          width: 100%;
          justify-content: center;
          display: flex;
          height: 32px;
          align-items: center;
        }
        @include for_breakpoint(large) {
          justify-content: flex-start;
        }

        img:nth-of-type(2) {
          @include for_breakpoint(small) {
            margin: 0 25px;
          }
        }
      }

      .cta__main-image {
        @include for_breakpoint(small) {
          position: relative;
          margin: 0 auto;
          top: 0;
          left: 0;

          &::before,
          &::after {
            content: "";
            display: block;
            background: url("../images/cta-bg.png") no-repeat, #C4C4C4;
            width: 50px;
            height: 90%;
            position: absolute;
            opacity: .5;
            top: 50%;
            right: -45px;
            transform: translateY(-50%);
            border-radius: 15px;
          }
          &::before {
            right: -20px;
          }
          &::after {
            background: url("../images/cta-bg-1.png") no-repeat, #C4C4C4;
            right: unset;
            left: -25px;
          }
        }
        @include for_breakpoint(medium) {
          width: 100%;

        }
        @include for_breakpoint(large) {
          position: absolute;
          top: -150px;
          left: 0;
          width: 100%;

          &::before,
          &::after {
            width: 383px;
            height: 267px;
            right: -45px;
          }
          &::after {
            left: -45px;
          }
        }
        @include for_breakpoint(xl) {
          width: 80%;
          left: 10%;
          top: -160px;
        }
        @include for_breakpoint(xxl) {
          width: 70%;
          left: 17%;
          top: -180px;
        }

        img {
          @include for_breakpoint(small) {
            position: relative;
            z-index: 1;
            border-radius: 20px;
            width: 100%;
          }
        }
      }
    }
  }
}
