@import "../utils/mixins";
.icon-phone {
  @include for_breakpoint(small) {
    display: block;
    right: 30px;
    position: fixed;
    left: 20px;
    bottom: 30px;
    width: 55px;
    height: 55px;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(213, 32, 71, 0.8);
    z-index: 1;

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      border: 30px solid rgba(213, 32, 71, 0.8);
      left: -10px;
      right: -10px;
      top: -10px;
      bottom: -10px;
      border-radius: 50%;
      animation: pulse 5s linear infinite;
      opacity: 0;
      box-shadow: 0 0 5px 2px white, 0 0 5px 4px rgba(213, 32, 71, 0.8);
    }
    &::after {
      animation-delay: 0.5s;
    }
    .android-icon-phone {
      z-index: 1;
      display: block;
      position: absolute;
      width: 50%;
      height: auto;
      border-radius: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @include for_breakpoint(large) {
    display: none;
  }
}
@keyframes pulse {
  75% {
    transform: scale(0.5);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
