@import "../utils/mixins";
.features {
  @include for_breakpoint(small) {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 215px;
  }
  @include for_breakpoint(medium) {
    flex-direction: row;
  }
  @include for_breakpoint(large) {
    justify-content: space-between;
  }
  @include for_breakpoint(xxl) {
    justify-content: center;
  }

  &__title {
    @include for_breakpoint(small) {
      width: 100%;
      text-align: center;
      font-weight: 600;
      font-size: 36px;
      padding: 70px 0;
    }
  }

  &__article {
    @include for_breakpoint(small) {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;

      &:nth-of-type(2) {
        padding: 150px 0;
      }

      & img {
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    @include for_breakpoint(medium) {
      width: 50%;

      &:nth-of-type(2) {
        padding: 0;
      }
      &:nth-of-type(3) {
        margin-top: 150px;
      }
    }
    @include for_breakpoint(large) {
      width: 30%;

      &:nth-of-type(3) {
        margin-top: 0;
      }
      & > img {
        width: 100%;
      }
    }
    @include for_breakpoint(xxl) {
      width: 26%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      & > img {
        margin: 0;

      }
    }

    .features__info {
      @include for_breakpoint(small) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 15%);
        text-align: center;
        background-color: #fff;
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 25px 40px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }
      @include for_breakpoint(large) {
        width: 90%;
        height: 240px;
      }
      @include for_breakpoint(xxl) {
        padding: 20px 35px;
        height: 220px;

      }

      &-title {
        @include for_breakpoint(small) {
          font-size: 18px;
          color: #101010;
          margin: 15px 0;
        }
      }

      .features__desc {
        @include for_breakpoint(small) {
          font-size: 12px;
          margin: 15px 0 25px;
        }
      }

      .features__link {
        @include for_breakpoint(small) {
          color: #ED4C5C;
          font-weight: 700;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
  }
}
