@import "../utils/mixins";
@import "form";

.footer {
  @include for_breakpoint(small) {
    background-color: #fff;
  }
  @include for_breakpoint(large) {
    display: flex;
    justify-content: center;
  }

  &__container {
    @include for_breakpoint(small) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 100px 15px;
    }
    @include for_breakpoint(large) {
      flex-direction: row;
      width: 90%;
    }

    .footer__info {
      @include for_breakpoint(small) {
        width: 100%;
      }
      @include for_breakpoint(xxl) {
        width: 42.5%;
      }
    }

    .footer__info {

      .footer__title {
        @include for_breakpoint(small) {
          font-weight: 600;
          font-size: 36px;
        }
        @include for_breakpoint(xxl) {
          margin-top: 25px;
        }
      }

      .footer__desc {
        @include for_breakpoint(small) {
          margin: 30px 0;
          font-weight: 400;
          font-size: 14px;
          width: 80%;
          line-height: 20px;
        }
        @include for_breakpoint(xxl) {
          margin: 50px 0;
        }
      }
    }
  }
}
