@import "../utils/mixins";

.footer__form {
  @include for_breakpoint(small) {
    width: 100%;
  }
  @include for_breakpoint(xxl) {
    width: 42.5%;
  }

  form {
    @include for_breakpoint(small) {
      display: flex;
      flex-direction: column;
    }

    .footer__block {

      &:nth-of-type(1) {
        @include for_breakpoint(small) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .footer__form-name {
          @include for_breakpoint(small) {
            width: 48%;
          }
        }
      }

      input,
      select {
        @include for_breakpoint(small) {
          width: 100%;
          height: 60px;
          padding: 0 25px;
          border: 1px solid #333333;
          border-radius: 6px;
          color: rgba(19, 39, 67, 0.7);
          margin: 15px 0;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          background-color: #fff;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }

      .form-error-text {
        color: #D52047;
        font-size: 15px;
        padding-left: 5px;
      }

      .field-error {
        border-color: #D52047;
      }

      .footer__select {
        @include for_breakpoint(small) {
          position: relative;
        }
      }

      .footer__select::after {
        @include for_breakpoint(small) {
          content: "";
          display: block;
          background: url("../images/icons/chev-down.svg") no-repeat;
          width: 14px;
          height: 14px;
          color: rgba(19, 39, 67, 0.5);
          position: absolute;
          top: 45px;
          right: 25px;
        }
      }
    }

    .correct-message {
      @include for_breakpoint(small) {
        color: green;
      }
    }

    button[type='submit'] {
      @include for_breakpoint(small) {
        width: 160px;
        height: 50px;
        background-color: #ED4C5C;
        border: 1.5px solid #ED4C5C;
        border-radius: 6px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 15px;
        cursor: pointer;
      }
    }
  }
}

