@import "../utils/mixins";

.main {
  @include for_breakpoint(small) {
    position: relative;
  }

  &__background {
    @include for_breakpoint(small) {
      position: relative;
      height: 82vh;
      background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);

      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 82vh;
        object-fit: cover;
        z-index: -1;
      }
    }
  }

  &__info {
    @include for_breakpoint(small) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }

    &-title {
      @include for_breakpoint(small) {
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }
      @include for_breakpoint(medium) {
        font-size: 36px;
      }
      @include for_breakpoint(xl) {
        font-size: 72px;

      }
    }

    &-description {
      @include for_breakpoint(small) {
        font-size: 16px;
        text-align: center;
        color: white;
        margin-top: 35px;
        margin-bottom: 25px;
        padding: 0 25px;
        font-weight: 600;
        line-height: 36px;
      }
      @include for_breakpoint(medium) {
        font-size: 24px;
      }
      @include for_breakpoint(large) {
        width: 550px;
      }
    }

    &-button {
      @include for_breakpoint(small) {
        width: 160px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 6px;
        color: #ED4C5C;
        text-transform: uppercase;
        border: none;
        margin-top: 30px;
        font-weight: 600;
        font-size: 14px;
      line-height: 55px;
      }
    }
  }
}
