@import "../utils/mixins";

.navigation {
  @include for_breakpoint(small) {
    background: linear-gradient(90deg, rgba(213, 32, 71, 1) 0%, rgba(238, 61, 27, 0.5) 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 60px;
    z-index: 2;
  }
  @include for_breakpoint(medium) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @include for_breakpoint(large) {
    position: absolute;
    background: none;
    margin-top: 40px;
  }
  @include for_breakpoint(xxl) {
    margin-top: 43px;
  }

  &.active {
    @include for_breakpoint(large) {
      position: fixed;
      justify-content: space-evenly;
      width: 1440px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      background: linear-gradient(90deg, #d52047 0%, rgba(238, 61, 27, 0.5) 100%);
    }
    @include for_breakpoint(xxl){
      justify-content: space-around;
    }
  }

  &__logo {
    @include for_breakpoint(small) {
      display: flex;
      align-items: center;
      width: 200px;
      position: relative;
      top: 16px;
      left: 15px;
    }
    @include for_breakpoint(medium) {
      position: unset;
      width: 25%;
    }
    @include for_breakpoint(large) {
      width: 220px;
    }
    @include for_breakpoint(xxl) {
      margin-left: -32px;

    }
  }

  &__brand {
    @include for_breakpoint(small) {
      align-self: center;
      margin-left: 5px;
      color: white;
      margin-top: 5px;
      font-size: 18px;
      text-transform: uppercase;
    }
    @include for_breakpoint(medium) {
      margin-left: 7px;
    }

  }

  &__burger {
    @include for_breakpoint(small) {
      position: fixed;
      top: 18.5px;
      right: 10%;
      width: 40px;
      height: 26px;
      transition: .2s;
    }
    @include for_breakpoint(medium) {
      display: none;
    }

    &.active {
      @include for_breakpoint(small) {
        transform: rotate(-90deg);
      }
    }

    span {
      @include for_breakpoint(small) {
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #fff;
        left: 0;
        transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;

        &:nth-child(1) {
          top: 0
        }

        &:nth-child(2) {
          top: calc(50% - 3px);
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }
    }

    @include for_breakpoint(small) {
      &.active span:nth-child(1) {
        top: calc(50% - 3px);
        transform: rotate(45deg);
      }

      &.active span:nth-child(2) {
        opacity: 0;
      }

      &.active span:nth-child(3) {
        bottom: calc(50% - 3px);
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    @include for_breakpoint(small) {
      display: none;
      width: 85%;
      margin: 50px auto 15px;
    }
    @include for_breakpoint(medium) {
      width: unset;
      margin: 0;
      display: flex;
    }
    @include for_breakpoint(xxl) {
      margin-right: -48px;
      margin-left: 48px;
    }

    &.active {
      @include for_breakpoint(small) {
        display: block;
      }
    }

    li {
      @include for_breakpoint(small) {
        display: flex;
        justify-content: flex-start;
        margin: 10px 0;
        padding-left: 15px;
        list-style-type: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
      @include for_breakpoint(medium) {
        display: unset;
        padding: 0;
        border-bottom: none;
        margin-right: 15px;
      }

      a {
        @include for_breakpoint(small) {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 15px 0;
          color: white;
          text-decoration: none;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2px;
          transition: .3s;
        }
        @include for_breakpoint(medium) {
          letter-spacing: .5px;
          display: unset;
        }
      }
    }
  }
}

