@import "../utils/mixins";

.technology {
  @include for_breakpoint(small) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    background-color: #fff;
  }
  @include for_breakpoint(medium) {
    flex-direction: row;
  }

  &__main-title {
    @include for_breakpoint(small) {
      width: 100%;
      text-align: center;
      font-weight: 600;
      font-size: 36px;
      padding: 70px 0;
    }
  }

  &__tile {
    @include for_breakpoint(small) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-basis: 20%;
      text-align: center;
      align-content: center;
      margin: 25px 0;

    }
    @include for_breakpoint(xxl) {
      margin-top: 0;
    }
  }

  &__counter {
    @include for_breakpoint(small) {
      color: rgba(16, 16, 16, 0.08);
      font-size: 100px;
      font-weight: bold;
    }
  }

  &__icon {
    @include for_breakpoint(small) {
      margin-top: -65px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    @include for_breakpoint(small) {
      font-weight: 700;
      font-size: 18px;
      margin-top: 15px;
    }
  }

  &__desc {
    @include for_breakpoint(small) {
      width: 190px;
      font-size: 12px;
    }
  }
}
